.form {
    margin: 20px 0;
}


.form__labelText {
    display: inline-block;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
}


.form__field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    margin: 5px;
}


.form__field:focus {
    border: 2px solid hwb(218 27% 44%);
    outline: none;
}


.form__button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    background: hwb(218 27% 44%);
    border: none;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s;
}


.form__button:hover {
    background: hwb(218 27% 34%);
}


.form__score {
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
    min-height: 24px;
}


.form__info {
    text-align: center;
    font-size: 15px;
    color: #444;
    margin-top: 20px;
}