.html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}


body {
  background-image: url("./images/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}